* {
    font-family: 'Pacifico', cursive;
}

/* html {
    min-width: 100%;
    min-height: 100%;
    background-image: url(http://www.example.com/somelargeimage.jpg);
    background-position: top center;
    background-color: #000;
  }
  
  body {
    width: 1054px;
    height: 650px;
    background-color: #FFF;
  } */
#main {
    
    background-image: url(./images/wave-background.gif);
    filter: brightness(1);
    border: 5px double turquoise;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display:block;
    background-repeat: no-repeat;
    overflow: scroll;
    

}

#side {
    border-style: 1px solid red;
}

#musica {
    display: none;
}