#main {
    border: 5px solid hsl(240, 67%, 60%);
    background-image: url(./images/ezgif.com-gif-maker\ \(1\).gif);
    filter: brightness(1);
    background-repeat: no-repeat;
    background-position: center;
}
